<link rel="stylesheet" href="/styles.css">
<%- include("navbar.ejs") %>
<br>
<br>
<div class="tweet">
    <% tweets.forEach(item=>{ %>
        <a href="/user/<%= item.author._id%>">
            <img src="/images/<%= item.author.pfImage%>">
            <em><%= item.author.username%></em>
        </a>
        <%= item.publishingDate%>
        <br>
        <h3><%= item.story%></h3>
        <hr>
    <% }) %>
</div>