<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= postOwner.username%></title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/profile">Profile</a> |
        <a href="/register">Create New Account</a> |
        <a href="/login">Login</a> |
        <a href="/tweets">Tweets</a> |
        <a href="/logout">Logout</a>
        
    </nav>
    <ul>
        <img src="/images/<%= postOwner.pfImage%>" style="width: 150px">
        <li>Username: <%= postOwner.username%></li>
        <li>Firstname: <%= postOwner.firstname%></li>
        <li>Lastname <%= postOwner.lastname%></li>
    </ul>
    <div>
        <form action='/user/<%= postOwner._id %>/<%= status %>' method="post">
        <input type="submit" value="<%= status %>">
        </form>
        <div class="error"><%= messages.error%></div>
    </div>
    <div>
        <em>followers: <%= noFolloweres %></em>
        <br>
        <em>following: <%= noFollowing %></em>
    </div>
    <div class="tweet">
        <% userstweets.forEach(item=>{ %>
                <img src="/images/<%= item.author.pfImage%>">
                <%= item.author.username %>
                <%= item.publishingDate %>
                <br>
                <%= item.story %>
                <hr>
        <% }) %>
    </div>
</body>
</html>