<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><<%= user.username%>></title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/profile">Profile</a> |
        <a href="/register">Create New Account</a> |
        <a href="/login">Login</a> |
        <a href="/tweets">Tweets</a> |
        <a href="/logout">Logout</a>
        
    </nav>
    <ul>
        <img src="/images/<%= user.pfImage%>" style="width: 150px">
        <li>Username: <%= user.username%></li>
        <li>Firstname: <%= user.firstname%></li>
        <li>Lastname <%= user.lastname%></li>
    </ul>
    <div>
        <form action='/user/<%= user._id %>/follow' method="post">
            <input type="submit" value="follow">
        </form>
        <form action='/user/<%= user._id %>/unfollow' method="post">
            <input type="submit" value="unfollow">
        </form>
        <div class="error"><%= messages.error%></div>
    </div>
    <div class="tweet">
        <% userstweets.forEach(item=>{ %>
                <img src="/images/<%= item.author.pfImage%>">
                <%= item.author.username %>
                <%= item.publishingDate %>
                <br>
                <%= item.story %>
                <hr>
        <% }) %>
    </div>
</body>
</html>